.jumbotron{
	padding-bottom:10px;
	padding-top: 10px;
	margin: 0;
	 background-color: #fff;
}
img
{
	 left: 8px;
}

form {
    padding-top: 100px;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-left: 80px;
}

select {
    margin-top: 25px;
    margin-bottom: 25px;
}
body
{
    background-image:url('try1.jpg');-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:#fff;"
}
#header {
    text-decoration: none;
    size:100px;
    margin-top: auto;
    background-color: #fff;
}
